@media (max-width: 768px) {
    .info-greeting{
        transform: scale(1 ,0.8);
        padding-top: 50%;
        flex: calc(50%);
        display: flex;
        width: 100%;
        height: 50%;
        border: solid 2px #CEC5B6;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    .info-greeting-column1 h1{
        font-size: clamp(100%,200%,500%);
         transform: translateY(-100%);
         align-items: center;
         text-align: center;
      }

}