
/*The header*/
.HeadVariant{
    padding: 2%;
    width: calc(99% );
    height:5vh;
    z-index: 101;
    padding: 10px;
    border-bottom: #CEC5B6 solid 2px;
    background-color:rgb(2, 2, 2);
    box-shadow: 6px 5px 33px 7px rgba(0,0,0,0.43);
    -webkit-box-shadow: 6px 5px 33px 7px rgba(0,0,0,0.43);
    -moz-box-shadow: 6px 5px 33px 7px rgba(0,0,0,0.43);
    position: fixed;
    top: 0; /* Adjust this value to set the distance from the top */
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.StickVariant{
    padding: 2%;
    width: calc(99% );
    height:5vh;
    z-index: 100;
    padding: 10px;
    background-color:#353c50;
    border-top-left-radius:1cm;
    border-top-right-radius:1cm; 
    position: relative;
    top: 0; /* Adjust this value to set the distance from the top */
}
.LogoSectionVariant{
    align-items: center;
    align-content: center;
    color: #CEC5B6;
    height: 50%;
    font-family: "FirstFont";
    color: #CEC5B6;
    font-size: clamp(1rem, 2vw, 2.5rem);


    display: flex;

}
.LogoSectionVariant .TitleHome{
    color: #CEC5B6;
    text-decoration: none;
    font-weight: bold;
    font-family: "FirstFont";
    font-size: xx-large;
    cursor: default;
    transition: transform 0.2s ease;
}
.TitleHome:hover{
    transform: scale(1.1);
}




.PagesSection{
    margin-left: 2%;
    align-items: center;
    align-content: center;
    width: 60%;
    display: flex;
    gap: 15%;
}
.PagesSection h2{
    cursor: default;
    font-family: "FirstFont";
    color: #CEC5B6;
    font-size: 10px;
    transition: transform 0.2s ease;
}
.PagesSection a{
    cursor: default;
    font-family: "FirstFont";
    color: #CEC5B6;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: transform 0.2s ease;
    text-decoration: none;
    font-weight: bold;
}
.PagesSection h2:hover{
    transform: scale(1.1);
}

.PagesSection a:hover{
    transform: scale(1.1);
}
.PrevButton{
    width: 3vw;
    height: 3vw;
    background-color: #03122262;
    position: absolute;
    border-radius: 0.5cm;
    border: #CEC5B6 1px solid;
    left: 0;
    box-shadow: inset 6px 5px 33px 7px rgba(0,0,0,0.43);
   
    margin-left: 2%;
}
.PrevButton:hover{

    background-color: #113f7062;

}